body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:#F3E0EC;
}

header {
    background-color: #333;
    color:#F42272;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    color:#F3E0EC;
    text-decoration: none;
}

main {
    flex: 1;
    max-width: 1600px;
    min-width: 450px;
    width: 100%;      
    text-align: center;
    background-color: #333;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 1rem;
    color:#F42272;
}

#content {
    padding: 2.5rem;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    justify-content: center;
    padding: 1em;
    background-color: #333;
    color:#F3E0EC;
}

#shortcuts {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    padding:2rem;
    font-size:0.8rem;
    color:#8661C1;
}

button {
    margin: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color:#F3E0EC;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-top: 1em;
}

input, select {
    padding: 0.5em;
    margin-top: 0.5em;
    background-color:#F3E0EC;
}
