body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #444;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 2em;
    max-width: 1600px;
    min-width: 450px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#quiz-container {
    text-align: center;
}

button {
    margin: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-top: 1em;
}

input, select {
    padding: 0.5em;
    margin-top: 0.5em;
}

@media (max-width: 450px) {
    main {
        padding: 1em;
    }
}